<!DOCTYPE html>
<html>
<head>
  <title>99Cats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  <% if flash[:welcome] %>
    <h1><%= flash[:welcome] %></h1>
  <% end %>
  <br>
  <br>
  <h3>
    <%= button_to "Logout", session_url, method: :delete %>
  </h3>
<% else %>
  <h1>Please log in or create an account!</h1>
  <h2>
    <%= button_to "Login form", new_session_url, method: :get %>
    <%= button_to "Signup form", new_user_url, method: :get %>
  </h2>
<% end %>

<%= yield %>

</body>
</html>
